[project]
name = "{{ project_name }}"
version = "0.1.0"
description = "{{ description }}"
authors = [
    { name = "{{ author_name }}", email = "{{ author_email }}" },
]
dependencies = []
license = "MIT"
readme = "README.md"
requires-python = ">= {{ python_version }}"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.metadata]
allow-direct-references = true

[tool.hatch.build.targets.wheel]
packages = ["src/{{ package_name }}"]

[tool.pytest.ini_options]
testpaths = ["tests"]

[tool.ruff]
line-length = 120

[tool.ruff.format]
quote-style = "double"

[tool.ruff.lint]
select = [
    "A",    # warn about shadowing built-ins
    "E",    # style stuff, whitespaces
    "F",    # important pyflakes lints
    "I",    # import sorting
    "N",    # naming
    "T100", # breakpoints (probably don't want these in prod!)
]

[tool.pyright]
include = ["src", "tests"]
exclude = [
    "**/__pycache__",
    ".venv",
    "build",
    "dist",
]
pythonVersion = "{{ python_version }}"
typeCheckingMode = "strict"
reportMissingImports = true
reportMissingTypeStubs = false
